<!DOCTYPE html>
<html lang="es">
<head>
<title></title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

<meta name="viewport" content="initial-scale=1">
<link rel="shortcut icon" href="/images/help.png" />
</head>
<body>
 <header>
       <h1>Bienbenido a <%= title %></h1>
    </header>
    <nav class="main" id="n1" role="navigation">
    <a class="boton" href="/">Inicio</a>
    <a class="boton" href="/quizes/question">Empezar a Jugar</a>
    </nav>
    <section>
    <fieldset><legend>Respuestas</legend>
    <label><%= respuesta %></label><input type="button" class=<%= tipo %> value=<%= resultado %>/>
    </fieldset>
    </section>
    
    <footer>
        <%= title %>
    </footer>

</body>
</html>