<!DOCTYPE html>
<html lang="es">
<head>
<title></title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

<meta name="viewport" content="initial-scale=1">
<link rel="shortcut icon" href="/images/help.png" />
</head>
<body>
 <header>
       <h1>Tu respuesta:<%= respuesta %></h1>
    </header>
    <nav class="main" id="n1" role="navigation">
    <a class="boton" href="/">Inicio</a>
    <a class="boton" href="/quizes">Preguntas</a>
    </nav>
    <section>
    <fieldset><legend>Respuestas</legend>
    <label><%= respuesta %></label><input type="button" class=<%= tipo %> value=<%= resultado %>/>
    <span id="efecto"><input type="button" class=<%= tipo %> value="Volver" 
    onClick="window.location='/quizes/1'" style="cursor:pointer"/></span>

    </fieldset>
    </section>
    
    <footer>
      <a class="enlacesfooter" href="https://github.com/eumesmoson/curso/">Proyecto en github</a>
        <a rel="license"  class="enlacesfooter" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
    </footer>

</body>
</html>