<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />


<meta name="viewport" content="initial-scale=1">

<link rel="shortcut icon" href="/images/help.png" />
</head>
 
<body>
    <header>
       <h1><%= title %></h1>
    <% if (!session.user){%>
       <div  style="float:right;clear: right;margin-right:10px;margin-top:1%" ><a href="/login">Login</a></div>

       <% } else {%>
        <div  style="float:right;clear: right;margin-right:10px;margin-top:1%" >
       <span class="usuario"><%= session.user.username %></span><a href="/logout">Logout</a></div>
       <% }%>
    </header>
    <nav role="navigation">
    <a class="boton" href="/">Inicio</a>
    <a class="boton" href="/quizes">Preguntas</a>
    <a class="boton" href="/estatistics">Estadísticas</a>
    <a class="boton" href="/autor">Autor</a>
  
    </nav>
    <section>
    <article>
    <p><%= texto %></p>
    <hr>
    <div class="contenedor">
    <ol>
    <% 
    var n='';
    var i; for(i=0;i<quizes.length;i++){ 
    if (i<9) num=n.concat('\u00A0\u00A0')+(i+1);
    else num=i+1;%>
    
    <li><%= num %>º<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
    <span class="conten"><button class="boton boton1"><%= quizes[i].tema %></button>
    <% if (session.user){%>
    <form method="post" action="/quizes/<%= quizes[i].id %>?_method=DELETE" enctype="multipart/form-data">
    <%='\u00A0\u00A0' %><input type="submit" class="boton"  value="Borrar"
    onClick="return confirm('¿ Seguro que quieres borrar:<%= quizes[i].pregunta %> ? ')"></form>
    <button class="boton" onClick="window.location='/quizes/<%= quizes[i].id %>/edit'">Editar</button></span> <% }%></li>
    <% } %>
    </ol>
    </div>
    <hr>
    </article>
    <article class="buscar">
    <p class="numpreg">-<%= quizes.length %>- preguntas en total.</p>
    <p class="numpreg"><form  method="get" action="/quizes" >
       <input type="text"  size="25" name="search" placeholder="Ingrese texto a buscar...">
       <input class="boton"  type="submit" value="Buscar" />
       </form>
         <% if (session.user){%><span class="margen"></span><input class="boton"  type="button" value="Añadir Pregunta"  onclick="location.href ='/quizes/new'" /></span><% } %></p>
    </article>
    </section>
    
    <footer>
        <a class="enlacesfooter" href="https://github.com/eumesmoson/curso/">github</a>
        <a rel="license"  class="enlacesfooter" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>

    </footer>
</body>
</html>