<!DOCTYPE html>
<html lang="es">
<head>
<title><%= pregunta %></title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

<meta name="viewport" content="initial-scale=1">
<link rel="shortcut icon" href="/images/help.png" />
</head>
<body>
  
    <header>
       <h1><%= pregunta %></h1>
       <% if (!session.user){%>
       <div  style="float:right;clear: right;margin-right:10px;margin-top:1%" ></span><a href="/login">Login</a></div>

       <% } else {%>
        <div  style="float:right;clear: right;margin-right:10px;margin-top:1%" ></span>
       <span class="usuario"><%= session.user.username %></span><a href="/logout">Logout</a></div>
       <% }%>
    </header>
    <nav class="main" id="n1" role="navigation">
    <a class="boton" href="/">Inicio</a>
     <a class="boton" href="/quizes">Preguntas</a>
     <a class="boton" href="/statistics">Estadísticas</a>
    </nav>
    <section>
    <article>
     <form method="get" action="/quizes/<%= num %>/answer">
       <fieldset><legend>Preguntas</legend>
       <label><%= pregunta %></label>
        <input type="text" size="20" name="respuesta"  
       onblur="this.value[0].toUpperCase() +this.value.slice(1)"
        placeholder="Responda aqui...">
       <input class="boton" type="submit" value="Enviar"  />
       </fieldset></form>
    </article>
    <article>
     <p><% if(errors.length){ %>
     Corregir errores:<hr>
     <span class="errores">

      <% for(var i in errors){ %>
         <%=errors[i] %><hr>
      <% } %>
     </span>
     <% } %>

     </p>
     </article>
    <article id="comentarios">
    <p>Comentarios:
    <button class="boton" onclick="document.getElementById('vercomen').style.display='block'">Ver</button>
    <button class="boton" onclick="document.getElementById('vercomen').style.display='none'">Ocultar</button>
   </p>
  <div id="vercomen" style="display:none" >
  <%
  if (typeof quiz !== 'undefined') {
  for (index in quiz.Comments) {%>   
  <% if (quiz.Comments[index].publicado || session.user){%>
  <textarea rows="4"   readonly="yes">
  <%=quiz.Comments[index].texto %>
  </textarea>
  <%}%>
  <% if (session.user && !quiz.Comments[index].publicado){%>
  <a href="/quizes/<%= num %>/comments/<%=quiz.Comments[index].id%>/publish">
  <button class="boton">Publicar</button>  </a>   
 <%}}}%>
    <hr>
    <p><% if (session.user){%><button class="boton aider" onclick="document.getElementById('anadecomen').style.display='block'" onClick="" >Añadir</button>
    </p>
    </div>
    <div id="anadecomen" style="display:none" >
    <form method="post" action="/quizes/<%=num%>/comments" >
    <textarea rows="4" id="comment" name="comment[texto]" placeholder="Escribe aqui tu comentario...">
    </textarea>
    <hr>
    <p class="aider2"><button type="submit" class="boton "  onClick="document.getElementById('anadecomen').style.display='none'" >Enviar</button>
    <button type="reset" class="boton "  onClick="document.getElementById('anadecomen').style.display='none'" >Cancelar</button><br><br></p>
    </form><%}%>
    </div>
    </article>
    </section>
    
    <footer>
       <a class="enlacesfooter" href="https://github.com/eumesmoson/curso/">github</a>
        <a rel="license"  class="enlacesfooter" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
    </footer>
</body>
</html>